<div class="navbar navbar-inverse navbar-fixed-left">
    <a class="navbar-brand" href="#">Demo_LOGO</a>
    <ul class="nav navbar-nav">
     <li><a routerLink="home" routerLinkActive="active"> <span> Home </span></a></li>
     <li><a routerLink="boxes" routerLinkActive="active"> <span> Boxes  </span></a></li>
     <li><a routerLink="dragula" routerLinkActive="active"><span> Other </span></a></li>
     <li><a routerLink="about" routerLinkActive="active"><span> About us </span></a></li>
     <li><a routerLink="contact" routerLinkActive="active"><span> Contact us </span></a></li>
    </ul>
  </div>
  <div class="container-fluid wrapper">
    <div class="row">
      <div class="col-sm-12" style="background: #111; height: 20px;">
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
